<div class="page">
  <div class="body">
    <div class="bgWhiteT border bcLight">
      <div class="row fold">
        <div class="col span8of8">
          <div class="mod mtl">
            <div class="inner pam">
              <div class="hd txtC">
                <h1 class="h1 massive mbl"><strong>On no!</strong></h1>
                <h2 class="h2 huge mbl">We can't find what you're looking for</h2>
                <img src="/assets/images/stanley.png" class="mvl">
                <p class="normal">We've been notified and will look into it shortly.</p>
                <p class="normal"><a href="/" class="btn">Return Home</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
