<div class="page">
  <div class="body">
    <div class="bgWhiteT border bcLight">
      <div class="row fold">
        <div class="col span8of8">
          <div class="mod mtl">
            <div class="inner pam">
              <div class="hd txtC">
                <h1 class="h1 massive mbl"><strong>SIDESHOW</strong></h1>
                <h2 class="h2 huge mbl">the best way to run a limited time sale, online.</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row fold">
        <div class="col span2of8">
          <div class="txtC">
            <img src="/assets/images/homepageOne.png">
          </div>
        </div>
        <div class="col span5of8">
          <div class="mod">
            <div class="inner phl">
              <div class="bd">
                <p class="large mbm"><strong>You can run an online sale</strong> to engage your followers and existing customers, and do this every month.</p>
                <p class="normal">Using your phone, you take a photo of each item you want to sell and add a description and a price. Then after you set a start date for your sale and how long you want it to run for, we do the rest. It's set and collect.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row fold">
        <div class="col span2of8">
          <div class="txtC ptm">
            <img src="/assets/images/homepageTwo.png">
          </div>
        </div>
        <div class="col span5of8">
          <div class="mod">
            <div class="inner phl">
              <div class="bd">
                <p class="large mbm"><strong>Sideshow promotes your page</strong> to your customers, while making it easy for people to share it with friends.</p>
                <p class="normal">We send a message to your customers one week before, three days before and on the day of your sale by posting to Facebook, sharing on Twitter and sending emails and SMS notifications.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row fold">
        <div class="col span2of8">
          <div class="txtC">
            <img src="/assets/images/homepageThree.png">
          </div>
        </div>
        <div class="col span5of8">
          <div class="mod">
            <div class="inner phl">
              <div class="bd">
                <p class="large mbm"><strong>You sell more stuff, more often</strong> without the hassle of scheduling messages and processing transactions.</p>
                <p class="normal">Customers purchase from you through Sideshow and we notify you when each order goes through. When your sale ends, the money is transferred to your account and you ship the goods &mdash; it's that simple</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row fold">
        <div class="col span8of8">
          <div class="mod">
            <div class="inner txtC">
              <h1 class="h2 large mbm"><strong>and you get all of this for</strong></h1>
              <p class="h1 massive">$29<span class="large block blockC">per month</span></h1>
            </div>
          </div>
          <div class="mod">
            <div class="inner txtC">
              <form action="/welcome" method="post">
                <p class="large"><label class="large" for="email">See how you can create, promote and run your first online sale today!</label></p>
                <p class="normal mbn"><input type="email" name="email" id="email" placeholder="Enter your email address" class="required mrm"><input type="submit" class="btn btnSuccess" value="Start free trial"></p>
                <p title="email" class="error"></p>
                <p class="meta">No credit card required to get started. We don't spam. We take your privacy seriously. Cancel at any time.</p>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row fold">
        <div class="col span8of8">
          <div class="mod mal phl ptl">
            <div class="borderT bcLight ptl">
              <h1 class="large mbm ptm"><strong>We love helping businesses connect with their customers and sell more stuff</strong></h1>
              <p class="normal">We've been making e-commerce websites for businesses for the past 5 years. During this time we learnt business owners don't want to run and manage an online and offline store, every day. That's why we built Sideshow. We help business owners do what they need to do: 1) Sell more stuff online, 2) Engage their customers, 3) Give their customers something to share and grow their user base and 4) Provide a way to move stock that needs to be rotated.</p>
              <p class="normal">We're excited about what we're building and we hope you are too!</p>
              <p class="normal">If you have any questions or just want to say hi, please get in touch at <a href="mailto:hello@sideshow.io">hello@sideshow.io</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row fold">
        <div class="col span8of8">
          <div class="mod mal phl pbl">
            <div class="borderT bcLight ptl">
              <h1 class="large"><strong>Help us spread the word</strong></h1>
              <span class="col block">
                <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
                <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://sideshow.io" data-text="How cool is this? Run a popup sale for your store and sell more stuff! http://sideshow.io #smallbusiness #online #sales">Tweet</a>
              </span><!-- End Twitter Tweet Button -->

              <!-- Facebook Like Button --><span class="col block mrl prl">
                <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
                <fb:like layout="button_count" send="true" data-href="facebook.com/sideshowio" show_faces="false" width="10"></fb:like>
              </span><!-- End Facebook like button -->

              <!-- Google +1 Button --><span class="col block">
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                <g:plusone size="medium" href="http://sideshow.io"></g:plusone>
              </span><!-- End Google +1 Button -->
            </div>
          </div>
        </div>
      </div>

      <div class="row fold">
        <div class="col span8of8">
          <div class="mod mal phl pbl">
            <div class="borderT bcLight ptl">
              <h1 class="large mbm"><strong>Get in touch</strong></h1>
              <p class="normal">If you have any questions or just want to say hi, please get in touch!</p>
              <p class="normal"><strong>Email</strong> <a href="mailto:hello@sideshow.io">hello@sideshow.io</a></p>
              <p class="normal"><strong>Twitter</strong> <a href="http://twitter.com/sideshowio">@sideshowio</a></p>
              <p class="normal"><strong>Facebook</strong> <a href="http://facebook.com/sideshowio">Sideshowio</a></p>
              <p class="normal"><strong>Phone</strong> +1 415 670 9591</p>
              <p class="normal">Sideshow is built by <a href="http://storyberg.com">Storyberg Inc.</a> 548 Market St #77386 San Francisco, CA 94104-5401</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row fold">
        <div class="col span8of8">
          <div class="mod mhl phl">
            <p class="tiny mbn">
              Thanks to <a href="http://thenounproject.com/clairetaylor" target="_blank">Claire Taylor</a> for <a href="http://thenounproject.com/noun/store/#icon-No9737" target="_blank">Store</a>, <a href="http://thenounproject.com/jorishoogendoorn" target="_blank">Joris Hoogendoorn</a> for <a href="http://thenounproject.com/noun/social-media/#icon-No2324" target="_blank">Social Media</a> and <a href="http://thenounproject.com/skatakila" target="_blank">Ricardo Moreira</a> for <a href="http://thenounproject.com/noun/package/#icon-No10996" target="_blank">Package</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
