<div class="page">
  <div class="body">
    <div class="bgWhiteT border bcLight">
      <div class="row fold">
        <div class="col span8of8">
          <div class="mod mtl">
            <div class="inner pam">
              <div class="hd txtC">
                <h1 class="h1 massive mbl"><strong>WELCOME</strong></h1>
                <h2 class="h2 huge mbl">To get started we need to know a few more things</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row fold">
        <div class="col span8of8">
          <div class="mod mhl phl">
            <form action="/complete" method="post">

              <label class="normal mbm">What is your name?</label>
              <p class="normal"><input type="text" name="q1"></p>

              <label class="normal mbm">What is the name of your business?</label>
              <p class="normal"><input type="text" name="q1"></p>

              <label class="normal mbm">What is your website address?</label>
              <p class="normal"><input type="text" value="http://" name="q2"></p>

              <label class="normal mbm">Do you have a mailing list?</label>
              <p class="normal">
                <input type="radio" name="q3" value="Yes, with more than 5000" id="q3-1"><label for="q3-1" class="inline mhs">Yes, with more than 5000 members</label>
                <input type="radio" name="q3" value="Yes, with more than 1000" id="q3-2"><label for="q3-2" class="inline mhs">Yes, with more than 1000 members</label>
                <input type="radio" name="q3" value="Yes, with less than 1000" id="q3-3"><label for="q3-3" class="inline mhs">Yes, with less than 1000 members</label>
                <input type="radio" name="q3" value="No" id="q3-4"><label for="q3-4" class="inline mhs">No</label>
              </p>

              <label class="normal mbm">Do you promote sales to your mailing list?</label>
              <p class="normal">
                <input type="radio" name="q4" value="Yes, once a month" id="q4-1"><label for="q4-1" class="inline mhm">Yes, at least once a month</label>
                <input type="radio" name="q4" value="Yes, a few times a year" id="q4-2"><label for="q4-2" class="inline mhm">Yes, a few times a year</label>
                <input type="radio" name="q4" value="No" id="q4-3"><label for="q4-3" class="inline mhm">No</label>
              </p>

              <label class="normal mbm">Do you currently run in-store sales?</label>
              <p class="normal">
                <input type="radio" name="q5" value="Yes, once a month" id="q5-1"><label for="q5-1" class="inline mhm">Yes, at least once a month</label>
                <input type="radio" name="q5" value="Yes, a few times a year" id="q5-2"><label for="q5-2" class="inline mhm">Yes, a few times a year</label>
                <input type="radio" name="q5" value="No" id="q5-3"><label for="q5-3" class="inline mhm">No</label>
              </p>

              <p class="normal"><input type="hidden" name="email" value="<%= @email %>"><input type="submit" value="Submit Form" class="btn btnSuccess"></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
