<div class="page">
  <div class="body">
    <div class="bgWhiteT border bcLight">
      <div class="row fold">
        <div class="col span8of8">
          <div class="mod mtl">
            <div class="inner pam">
              <div class="hd txtC">
                <h1 class="h1 massive mbl"><strong>SIGNUP COMPLETE</strong></h1>
                <h2 class="h2 huge mbl">Thanks for signing up to Sideshow!</h2>
                <img src="/assets/images/contact.png" class="mvl">
                <p class="normal">One of our team members will contact you shortly to help you setup your first Sideshow sale!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row fold">
        <div class="col span8of8">
          <div class="mod mal phl pbl">
            <div class="borderT bcLight ptl">
              <h1 class="large"><strong>Help us spread the word</strong></h1>
              <span class="col block">
                <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
                <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://sideshow.io" data-text="I just signed up run a popup sale for my store and sell more stuff! http://sideshow.io">Tweet</a>
              </span><!-- End Twitter Tweet Button -->

              <!-- Facebook Like Button --><span class="col block mrl prl">
                <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
                <fb:like layout="button_count" send="true" data-href="facebook.com/sideshowio" show_faces="false" width="10"></fb:like>
              </span><!-- End Facebook like button -->

              <!-- Google +1 Button --><span class="col block">
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                <g:plusone size="medium" href="http://sideshow.io"></g:plusone>
              </span><!-- End Google +1 Button -->
            </div>
          </div>
        </div>
      </div>

      <div class="row fold">
        <div class="col span8of8">
          <div class="mod mal phl pbl">
            <div class="borderT bcLight ptl">
              <h1 class="large mbm"><strong>Get in touch</strong></h1>
              <p class="normal">If you have any questions or just want to say hi, please get in touch!</p>
              <p class="normal"><strong>Email</strong> <a href="mailto:hello@sideshow.io">hello@sideshow.io</a></p>
              <p class="normal"><strong>Twitter</strong> <a href="http://twitter.com/sideshowio">@sideshowio</a></p>
              <p class="normal"><strong>Facebook</strong> <a href="http://facebook.com/sideshowio">Sideshowio</a></p>
              <p class="normal"><strong>Phone</strong> +1 415 670 9591</p>
              <p class="normal">Sideshow is built by <a href="http://storyberg.com">Storyberg Inc.</a> 548 Market St #77386 San Francisco, CA 94104-5401</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
